/cpp/satire

/TheAdditionGame/nbproject/private/
/Min&max/nbproject/private/
/IbsnChecksum/nbproject/private/
/TestMax/nbproject/private/
/LetterGradeCalculator/nbproject/private/
/MyTriangle/nbproject/private/
/ArrayStudentData/nbproject/private/
/Hangman/nbproject/private/
/Hangman/build/
/FractionClassTallanGroberg/nbproject/private/
/FractionClass_TallanGroberg/nbproject/private/
/mySQLConnection/nbproject/private/
/mySQLConnection/build/
/java/csis1340/Exercise11/nbproject/private/
/java/csis1340/PowersOf2/nbproject/private/
/java/csis1340/UserInputTallanGroberg/nbproject/private/
/java/csis1340/Exercise12/nbproject/private/
/java/csis1340/exercise13/nbproject/private/
/java/csis1340/SpacelySprockets/nbproject/private/
/java/csis1340/SpacelySprockets/build/
/java/csis1340/SpacelySprockets/dist/
/java/csis1340/TriangleMethodsTGroberg/nbproject/private/