/TheAdditionGame/nbproject/private/
/Min&max/nbproject/private/
/IbsnChecksum/nbproject/private/
/TestMax/nbproject/private/
/LetterGradeCalculator/nbproject/private/
/MyTriangle/nbproject/private/
/ArrayStudentData/nbproject/private/
/Hangman/nbproject/private/
/Hangman/build/
/FractionClassTallanGroberg/nbproject/private/
/FractionClass_TallanGroberg/nbproject/private/